---
layout: default
title : Aircraft
header : Post Aircraft
group: navigation

---
{% include JB/setup %}

<!-- {% assign posts_collate = site.posts %} -->
<!-- {% include JB/posts_collate %} -->


<div class="container-picture-left">
  <img src="images/Bret_Cox_L-39_-_Reno_Race_-58_.jpg" width="100%" alt="L39">


  </div>
</div>

<div class="container-picture-center">
  <img src="images/Aero_L-39_Albatros.jpg" width="100%" alt="L39">

</div>

<div class="container-picture-right">
    <img src="images/Bret_Cox_L-39_-_Reno_Race_-58_.jpg" width="100%" alt="L39">

  </div>
</div>

<div class="clearfix"></div>


<div class="jumbotron">
  <h1>Jet Fighters International, Inc.</h1>
  <p class="lead">For once you have tasted flight you will walk the earth with your eyes turned skywards, for there you have been, and there you will long to return.</p>
  <a class="btn btn-large btn-success" href="#">Sign up today</a>
</div>

<hr>
