---
layout: default
title : Staff
header : Post Staff
group: navigation
---
{% include JB/setup %}

{% assign posts_collate = site.posts %}
<!-- {% include JB/posts_collate %} -->

<img src="images/Aero_L-39_Albatros.jpg" width="100%" alt="L39">



<div class="clearfix"></div>


<div class="jumbotron">
  <h1>Jet Fighters International, Inc.</h1>
  <p class="lead">For once you have tasted flight you will walk the earth with your eyes turned skywards, for there you have been, and there you will long to return.</p>
  <!-- <  a class="btn btn-large btn-success" href="#">Sign up today</a> -->
</div>

<hr>